@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;900&display=swap');


:root{
    --font-barlow: 'Barlow', sans-serif;
    --black-color:#000000;
    --grey-lateral-color: #A1A2A3;
    --text-lateral-color: #1A1A1A;
    --air-max-title: #FFFFFF;
    --jordan-air-max:#CCC8C8;
    --white-color:#ffffff;
    --bgc-add-cart:#A1A2A3;
}

*{
    margin: 0px;
    padding: 0px;
    color:var(--white-color);
}

body{
    background: var(--black-color);
    font-family: var(--font-barlow);
    height: 100vh;
}

.subject{
    position: absolute;
    width: 1399.41px;
    height: 100vh;
    left: -3px;
    top: -1px;
}


.side-boarder{
    position: absolute;
    width: 122px;
    height: 987px;
    left: -3px;
    top: -1px;
    background: #A1A2A3;
    border-radius: 0px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-nike{
    position: absolute;
    height: 20px;
    width: 70px;
    left: 26px;
    top: 68px;
    border-radius: 0px;

}

.text-left{
    width: 495px;
    height: 22px;
    left: 72px;
    top: 246px;
    font-family:barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1.25em;
    transform: rotate(90deg);
    color: var(--text-lateral-color);
}


nav ul {
    list-style: none;
    overflow: hidden;
  }

nav a {
    text-decoration: none;
    color:#ffffff;
}

.menu{
    position: absolute;
    height: 55px;
    width: 659px;
    left: 539px;
    top: 68px;

    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;

    display:flex;
    justify-content:space-around;
    text-transform: uppercase;
    /* background-color:aqua; */
}


.title h1{
    position: absolute;
    width: 727px;
    height: 168px;
    left: 190px;
    top: 214px;
    font-family:var(--font-barlow);
    font-style: italic;
    font-weight: 900;
    font-size: 166px;
    line-height: 199px;
    color: var(--white-color);
}

.sub-title p{
    position: absolute;
    width: 678px;
    height: 70px;
    left: 200px;
    top: 403px;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.15em;
    color:var(--jordan-air-max)
}

.price p{
    position: absolute;
    width: 638px;
    height: 68px;
    left: 200px;
    top: 494px;
    font-style: italic;
    font-weight: 500;
    font-size: 45px;
    line-height: 54px;
}

.description p{
    position: absolute;
    width: 542px;
    height: 76px;
    left: 190px;
    top: 583px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.cart{
    position: absolute;
    width: 120px;
    height: 38px;
    left: 200px;
    top: 706px;
    background:var(--grey-lateral-color);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-content: center;
    
}

.cart p{
    height: 98px;
    left: 217px;
    top: 713px;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    color:var(--black-color);
    padding-top: 8px;
}

.shoes{
    position: absolute;
    width: 604.92px;
    height: 398.38px;
    left: 648.81px;
    top: 209.84px;
}

.elipse-1{
    position: absolute;
    width: 146.15px;
    height: 146.15px;
    left: 1250.26px;
    top: 415.69px;
    background: radial-gradient(78.19% 78.19% at 10.4% 32.21%, #57595B 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, rgba(125, 125, 125, 0.15), rgba(125, 125, 125, 0.15));
    border-radius: 50%;
    backdrop-filter: blur(10.501px);
    z-index: 1;
}

.elipse-2{
    position: absolute;
    width: 146.15px;
    height: 146.15px;
    left: 988px;
    top: 617px;
    background: radial-gradient(75.15% 75.15% at 31.21% 0%, #57595B 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, rgba(125, 125, 125, 0.15), rgba(125, 125, 125, 0.15));
    border-radius: 50%;
    backdrop-filter: blur(10.501px);
    z-index: 1;
}

.elipse-3{
    position: absolute;
    width: 278.13px;
    height: 262.19px;
    left: 864.83px;
    top: 270.93px;
    background: radial-gradient(40.61% 43.79% at 85.51% 81.59%, #57595B 0%, rgba(0, 0, 0, 0) 100%) /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
    linear-gradient(0deg, rgba(125, 125, 125, 0.15), rgba(125, 125, 125, 0.15));
    border-radius: 50%;
    backdrop-filter: blur(15.501px);
    z-index: -1;
    }


.shadow{
    position: absolute;
    width: 563px;
    height: 51px;
    left: 825px;
    top: 812px;
    background: linear-gradient(270deg, rgba(70, 70, 70, 0.5) 0%, #000000 52.4%, #000000 100%);
    filter: blur(16.3868px);
    transform: matrix(-1, 0, 0, 1, 0, 0);
}




