@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@500;600;900&display=swap');


:root{
    --font-barlow: 'Barlow', sans-serif;
    --black-color:#000000;
    --grey-lateral-color: #A1A2A3;
    --text-lateral-color: #1A1A1A;
    --air-max-title: #FFFFFF;
    --jordan-air-max:#CCC8C8;
    --white-color:#ffffff;
    --bgc-add-cart:#A1A2A3;
}

*{
    margin: 0px;
    padding: 0px;
    color:var(--white-color);
}

body{
    background: var(--black-color);
    font-family: var(--font-barlow);
    height: 100vh;
}

.subject{
    position: absolute;
    width: 1399.41px;
    height: 987px;
    left: -3px;
    top: -1px;
}


.side-boarder{
    position: absolute;
    width: 122px;
    height: 987px;
    left: -3px;
    top: -1px;
    background: #A1A2A3;
    border-radius: 0px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-nike{
    position: absolute;
    height: 20px;
    width: 70px;
    left: 26px;
    top: 68px;
    border-radius: 0px;

}

.text-left{
    width: 495px;
    height: 22px;
    left: 72px;
    top: 246px;
    font-family:barlow;
    font-size: 18px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1.25em;
    transform: rotate(90deg);
    color: var(--text-lateral-color);
}


nav ul {
    list-style: none;
    overflow: hidden;
  }

nav a {
    text-decoration: none;
    color:#ffffff;
}

.menu{
    position: absolute;
    height: 55px;
    width: 659px;
    left: 539px;
    top: 68px;
    display:flex;
    justify-content:space-around;
    /* background-color:aqua;  */
}

.menu ul a{
    position: absolute;
    width: 241px;
    height: 55px;
    left: 539px;
    top: 68px;
    font-family: var(--font-barlow);
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: flex-start;
}

.title h1{
    position: absolute;
    width: 727px;
    height: 168px;
    left: 190px;
    top: 214px;
    font-family:var(--font-barlow);
    font-style: italic;
    font-weight: 900;
    font-size: 166px;
    line-height: 199px;
    color: var(--white-color);
}

.sub-title p{
    position: absolute;
    width: 678px;
    height: 70px;
    left: 200px;
    top: 403px;
    font-style: italic;
    font-weight: 500;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.15em;
    color:var(--jordan-air-max)
}


